html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
  background-image: linear-gradient(45deg, cyan, blue);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

h2 {
  font-size: 3.0rem;
  color: white;
}

p {
  font-size: 3.0rem;
}

body {
  margin:0px auto;
  padding-bottom: 25px;
}

.runBtn {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50%;
  height: 75px;
  margin-bottom: 25px;
}

.runBtn:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.runBtn:main,
.runBtn:focus {
  user-select: auto;
}

.runBtn:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.runBtn:disabled {
  cursor: auto;
}
